.notebox {
    
        background: #fff;
        border-radius: 7px;
        box-shadow: 0 2px 5px #ccc;
        padding: 10px;
        width: 240px;
        margin: 16px;
        float: left;
        transition: 0.4s;
} 
.notebox h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
}
.notebox p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.notebox:hover{
   
    background: rgb(231, 209, 209);
}

/* .notebox h1::selection {
    color: rgb(16, 118, 165);
    background-color: rgb(160, 219, 229);
} */